@model CoreEditor.Models.Material

@{
    ViewData["Title"] = "Create";
}

<h2>Добавление материала</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaterialName" class="control-label"></label>
                <input asp-for="MaterialName" class="form-control" />
                <span asp-validation-for="MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialSize" class="control-label"></label>
                <input asp-for="MaterialSize" class="form-control" />
                <span asp-validation-for="MaterialSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialPrice" class="control-label"></label>
                <input asp-for="MaterialPrice" class="form-control" />
                <span asp-validation-for="MaterialPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

